body, html {
  background-image: url("./assets/background.jpg");
  background-color: rgb(26,27,31);
  width: 100%;
  height: 100%;
  margin: auto;
}

.characterSearchBar {
  width: 100%;
}

.sectionBeco {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arroba {
  width: 25%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

Nav a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

Nav a:active {
  font-weight: bold;
}

Nav a:hover{
  text-decoration: none;
  color: gold;
}

.imgLogo {
  width: 180px;
  height: 80px;
}