* {
  font-family: 'Viga', sans-serif;
}

body, html {
  background-image: url("./assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(26,27,31);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

  .fadeIn-slow {
    -webkit-animation: fadeIn 5s ease-in-out;
    -moz-animation: fadeIn 5s ease-in-out;
    -o-animation: fadeIn 5s ease-in-out;
    animation: fadeIn 5s ease-in-out;
    }

    .fadeIn-fast {
      -webkit-animation: fadeIn 2s ease-in-out;
      -moz-animation: fadeIn 2s ease-in-out;
      -o-animation: fadeIn 2s ease-in-out;
      animation: fadeIn 2s ease-in-out;
      }
      .fadeIn-fast-fast {
        -webkit-animation: fadeIn 1s ease-in-out;
        -moz-animation: fadeIn 1s ease-in-out;
        -o-animation: fadeIn 1s ease-in-out;
        animation: fadeIn 1s ease-in-out;
        }


.characterSearchBar {
  width: 100%;
}

span {
  font-size: 50px;
}

.pink {
  color: pink;
}

.gold {
  color: gold;
}

p span {
  font-size: 18px;
}

.sectionBeco {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

Nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.6;
  transition: 0.3s;
}

Nav a:hover{
  text-decoration: none;
  color: white;
  opacity: 1;
}

.imgLogo {
  width: 180px;
  height: 80px;
}

/* Characters List */
.div-characters-list {
  margin-top: 30px;
}

.div-characters-list ul {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.div-characters-list li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
  color: white;
}

.div-characters-list li img {
  background-color: rgba(128, 128, 128, 0.103);
  cursor: pointer;
  border: 1px solid white;
  width: 170px;
  height: 231px;
  opacity: 0.6;
  transition: 0.3s;
}

.div-characters-list li img:hover {
  cursor: pointer;
  opacity: 1;
}

h1.infoCharName{
  color: white;
}

.character-name{
  border-radius: 7px;
  border: 1px solid white;
  text-align: center;
  background-color: black;
  position: relative;
  margin-top: -24px;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 100% 100% 100%;
  grid-gap: 1em;
}

header {
  /* Start on Row 1 */
  grid-row: 1;
  background-color: white;
  /* Start on the first column line and extend all the to the last column line */
  grid-column: 1 / 4;
}

.sidebar-left {
  /* Start on Row 2 */
  grid-row: 2;
  background-color: white;
  /* Start on the first column line and stop at the next column line */
  grid-column: 1 / 2;
}

article {
  /* Start on Row 2 */
  grid-row: 2;
  background-color: white;
  /* Start on the second column line and stop at the third column line */
  grid-column: 2 / 3;
}

.sidebar-right {
  /* Start on Row 2 */
  grid-row: 2;
  background-color: white;
  /* Start on the third column line and stop at the last column line */
  grid-column: 3 / 4;
}

footer {
  /* Start on Row 3, the last row */
  grid-row: 3;
  background-color: white;
  /* Start on the first column line and extend all the to the last column line */
  grid-column: 1 / 4;
}
/* Rodapé */
.footer {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.178);
  color: white;
  text-align: center;
}

.footer p {
  font-size: 15px;
}

.content {
  min-height: 86.3vh;
}

div.card-deck {
  width: 100%;
  height: 100%;
}

.box-text{
  text-align: center;
  color: white;
  transition: width 2s;
}

.box-characters-list{
  position: relative;
  width: 100%;
  height: 100px;
}

.box-img {
  width: 100%;
  height: 150px;
}

.autocomplete {
  position: absolute;
  top:30%;
  z-index: 5;
}

.search-bar {
  float: right;
  width: 820px;
}

@media (max-width: 900px) {
  Nav a {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .div-characters-list {
    margin-left: -35px;
  }
  .imgLogo {
    width: 100px;
    height: 50px;
  }

  div#app {
    width: 100%;
    height: 100%;
  }
  div.card-deck {
    display: flex;
    justify-content: center;
  }
  .box-img {
    width: 100%;
    height: 100px;
  }
  .search-bar {
    float: right;
    width: 200px;
  }
  .autocomplete {
    position: relative;
    width: 28%;
    z-index: 5;
  }
  .footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    text-align: center;
  }
}

@media (max-width: 700px) {
  Nav a {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .div-characters-list {
    margin-left: -35px;
  }
  .imgLogo {
    width: 100px;
    height: 50px;
  }

  div#app {
    width: 100%;
    height: 100%;
  }
  .card {
    position: relative;
    top: 1%;
    width: 100%;
    height: 130px;
  }
  .box-img {
    display: none;
  }
  .search-bar {
    float: right;
    width: 200px;
  }
  .autocomplete {
    position: relative;
    width: 48%;
    z-index: 5;
  }
  .footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    text-align: center;
  }
}

@media (max-width: 400px) {
  Nav a {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .box-img {
    display: none;
  }
  .card {
    position: relative;
    width: 100%;
    height: 150px;
  }
  .search-bar {
    float: right;
    width: 200px;
  }
  .autocomplete {
    position: relative;
    width: 55%;
    z-index: 5;
  }
  .footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    text-align: center;
  }
}